#download {
  font-weight: bold;
}
.logo {
  float: right;
}
.btn {
  border: 1px solid grey;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 1em 1em 0.5em 0;
  display: inline-block;
  text-decoration: none;
}
.btn:hover {
  color: #1a1a1a;
  border-color: #1a1a1a;
}
