#download {
  font-weight: bold;
}
img[data-align] {
  float: right;
}
ul {
  padding-left: 0;
}
ul > li {
  list-style: none;
  margin: 1em 1em 1em 0;
  display: inline-block;
}
ul > li > a {
  border: 1px solid grey;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}
ul > li > a:hover {
  opacity: 0.75;
}
@media (max-width: 600px) {
  ul > li:nth-child(2) {
    display: none;
  }
}
figure {
  margin: 0;
}
figcaption {
  font-style: italic;
}
@media (max-width: 600px) {
  figure {
    margin: 0 -1em;
  }
  figcaption {
    margin-left: 1em;
  }
}

@media screen and (prefers-color-scheme: dark) {
  html {
    color: #d3d3d3;
    background-color: #101010;
  }
  a, a:visited {
    color: #d3d3d3;
  }
  blockquote {
    border-color: #707070;
    color: #d3d3d3;
  }
  hr {
    background-color: #d3d3d3;
  }
  tbody, th {
    border-color: #d3d3d3;
  }
  pre, code {
    background-color: initial;
  }
  div.sourceCode {
    filter: invert(1);
    color: initial;
  }
}
