#download {
  font-weight: bold;
}
img[data-align] {
  float: right;
}
.btn {
  border: 1px solid grey;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}
.btn:hover {
  opacity: 0.75;
}
ul {
  padding-left: 0;
}
ul > li {
  list-style: none;
  margin: 1em 1em 1em 0;
  display: inline-block;
}
