<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="canonical" href="{{ page.url | replace:'.html','' }}">
  </head>
  <body>
    <header>
      <h1>
        <a href="/" class="logo">
          PanWriter
        </a>
      </h1>
    </header>

    <main>
      {{ content }}
    </main>
  </body>
</html>
